<div class="section">

<%= form_for profile, url: profile_path do |f| %>

 <div class="field">
   <%= f.label :Account_role %><br />
   <%= f.select :role, User.roles.keys.to_a %>
 </div>

 <table>
   <tbody id="profile_table">
      <tr>
        <th>About me</th>
        <th>Address</th>
      </tr>
      <tr>
        <td><%= f.label "Last name".to_sym %><br>
          <%= f.text_field :lname %>
        </td>
        <td>
          <%= f.label :line_1 %><br>
          <%= f.text_field :addr1 %>
        </td>
      </tr>
      <tr>
        <td><%= f.label "First name".to_sym %><br>
          <%= f.text_field :fname %>
        </td>
        <td>
          <%= f.label :line_2 %><br>
          <%= f.text_field :addr2 %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label "Mobile number".to_sym %><br>
          <%= f.text_field :phnum %>
        </td>
        <td>
          <%= f.label :town %><br>
          <%= f.text_field :town %>
        </td>
      </tr>
      <tr  id="pic_row">
        <td rowspan = "2">
          <% if profile.avatar? %>
              <%= image_tag(profile.avatar) %>
          <% else %>
              <%= f.label :picture %><br>
          <% end %>
          <%= f.file_field :avatar %>
        </td>
        <td>
          <%= f.label :postcode %><br>
          <%= f.text_field :postcode %>
        </td>
      <tr>
        <td>
          <%= f.label :county %><br>
          <%= f.text_field :county %>
        </td>
      </tr>


      <% if profile.driver? %>
        <tr>
          <th>Vehicle details</th>
          <th>&nbsp</th>
        </tr>

        <tr>
          <td>
            <%= f.label :vehicle %><br>
            <%= f.file_field :carpic, class: "fileinput" %>
          </td>
          <td>
            <%= f.label :reg %><br>
            <%= f.text_field :reg, class: "textfield" %>
          </td>
        </tr>
      <% end %>
   </tbody>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>

  <% if profile.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

        <ul>
          <% profile.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
<% end %>
</div>