<div class="main">
  <div>
    <h1 class="middle">Drivers</h1>
  </div>
  <div>
    <div class="container">

      <div class="row">
        <% @profiles.each do |profile| %>
            <% if profile.driver? %>
              <div class="col-xs-6 col-sm-4 col-md-3 tall middle">
                <%= cl_image_tag(profile.avatar) %><br/>
                <%= profile.fname %> <%= profile.lname %><br/>
                <%= cl_image_tag(profile.carpic) %><br/>
                <%= profile.reg %>
              </div>
            <% end %>
        <% end %>
      </div>

    </div>

  </div>
</div>
