<div class="main">
  <div>
    <h1 class="middle">Drivers</h1>
  </div>
  <div>


    <table>

      <tbody>
        <tr>
          <% @profiles.each do |profile| %>
              <% if profile.driver? %>
                <td><%= image_tag(profile.avatar) %></td>
              <% end %>
          <% end %>
        </tr>
        <tr>
          <% @profiles.each do |profile| %>
              <% if profile.driver? %>
                <td><%= image_tag(profile.carpic) %></td>
              <% end %>
          <% end %>
        </tr>
        <tr>
          <% @profiles.each do |profile| %>
              <% if profile.driver? %>
                <td class="middle"><%= profile.fname %> <%= profile.lname %>
                </td>
              <% end %>
        <% end %>
        </tr>
        <tr>
          <% @profiles.each do |profile| %>
              <% if profile.driver? %>
                <td class="middle"><%= profile.reg %> </td>
              <% end %>
        <% end %>
        </tr>

      </tbody>
    </table>

  </div>
</div>
