<h1 class="middle">All Profiles</h1>

  <div class="container">

    <div class="row">
      <% @profiles.each do |profile| %>
        <div class="col-xs-6 col-sm-4 col-md-3 tall">
            <%= profile.role.camelize %><br/>
            <%= cl_image_tag(profile.avatar) %><br/>
            <%= profile.fname %> <%= profile.lname %><br/>
            <%= cl_image_tag(profile.carpic) %><br/>
            <%= profile.reg %>
          </div>
      <% end %>
    </div>
  </div>
