<h1>All Profiles</h1>

  <table>

    <tbody>
    <tr>
      <% @profiles.each do |profile| %>
          <th><%= profile.role.camelize %></th>
      <% end %>
    </tr>
    <tr>
      <% @profiles.each do |profile| %>
          <td><%= cl_image_tag(profile.avatar) %></td>
      <% end %>
    </tr>
    <tr>
      <% @profiles.each do |profile| %>
          <td class="middle"><%= profile.fname %> <%= profile.lname %></td>
      <% end %>
    </tr>
    <tr>
      <% @profiles.each do |profile| %>
          <td><%= cl_image_tag(profile.carpic) %></td>
      <% end %>
    </tr>
    <tr>
      <% @profiles.each do |profile| %>
          <td class="middle"><%= profile.reg %></td>
      <% end %>
    </tr>

    </tbody>
  </table>

