<div class="section">
<h1>Jobs</h1>

<table class="jobs">
  <thead>
    <tr>
      <th>Id</th>
      <th>Driver</th>
      <th>Customer</th>
      <th>Time</th>
      <th>Pickup Address</th>
      <th>Drop Address</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.id %></td>
        <td><%= job.driver.fname %></td>
        <td><%= job.customer.fname %></td>
        <td><%= job.pickup_time.strftime("%d %h %H:%M") %></td>
        <td><%= job.location1.title %></td>
        <td><%= job.location2.title %></td>
        <td>
          <%= form_for(job) do |f| %>
            <%= f.select :status, Job.statuses.keys.to_a, {}, id: job.id %>
          <% end %>
        </td>
        <td class="actions">
          <%= link_to "", job_path(job.id), class: "fa fa-eye"%>
          <%= link_to "", edit_job_path(job.id), class: "fa fa-pencil"%>
          <%= link_to "", job_path(job.id), method: 'delete', class: "fa fa-trash"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="section">
  <%= link_to 'New Job', new_job_path %>
</div>
