<div class="section">
<h1>Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Driver</th>
      <th>Customer</th>
      <th>Time</th>
      <th>Pickup Address</th>
      <th>Drop Address</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.id, job_path(job.id) %></td>
        <td><%= link_to Profile.find(job.driver_id).fname, job_path(job.id) %></td>
        <td><%= link_to Profile.find(job.customer_id).fname, job_path(job.id) %></td>
        <td><%= job.pickup_time %></td>
        <td><%= Address.find(job.location1_id).title %></td>
        <td><%= Address.find(job.location2_id).title %></td>
        <td>
          <%= form_for(job) do |f| %>
            <%= f.select :status, Job.statuses.keys.to_a, {}, id: job.id %>
          <% end %>
        </td>
        <td>
          <%= link_to "", edit_job_path(job.id), class: "fa fa-pencil"%>
          <%= link_to "", job_path(job.id), method: 'delete', class: "fa fa-trash"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="section">
  <%= link_to 'New Job', new_job_path %>
</div>
