
<div class="section">
  <h1>Job for customer <%= @job.customer.fname %></h1>

  <table class="jobs">
      <tr>
        <th>Id:</th><td><%= @job.id %></td>
      </tr>
      <tr>
        <th>Driver:</th><td><%= @job.driver.fname %> <%= @job.driver.lname %></td>
      </tr>
      <tr>
        <th>Customer:</th><td><%= @job.customer.fname %> <%= @job.customer.lname %></td>
      </tr>
      <tr>
        <th>Time:</th><td><%= @job.pickup_time %></td>
      </tr>
      <tr>
        <th>Pick-up location:</th><td><%= @job.location1.title %></td>
      </tr>
      <tr>
        <th>Drop-off location:</th><td><%= @job.location2.title %></td>
      </tr>
        <tr>
        <th>Status:</th>
        <%= form_for(@job) do |f| %>
          <td><%= f.select :status, Job.statuses.keys.to_a%></td>
        <% end %>
      </tr>
  </table>
</div>

<div class="section">
  <%= link_to 'Edit', edit_job_path %>
  <p></p>
  <%= link_to 'See all jobs', jobs_path %>

</div>