<div class="section">

  <h1><%= current_user.fname ? current_user.fname : "My profile" %></h1>

  <table>
    <tr>
      <th>About me</th>
      <th>Address</th>
    </tr>
    <tr>
      <td><%= current_user.lname %></td>
      <td><%= current_user.addr1%></td>
    </tr>
    <tr>
      <td><%= current_user.fname%></td>
      <td><%=current_user.addr2%></td>
    </tr>
    <tr>
      <td><%=current_user.phnum%></td>
      <td><%=current_user.town%></td>
    </tr>
    <tr>
      <td>&nbsp</td>
      <td><%=current_user.postcode %></td>
    <tr>
      <td><%= image_tag(current_user.avatar) %></td>
      <td><%=current_user.county %></td>
    </tr>

  </table>

</div>

<div class="section">
  <%= link_to 'Edit', edit_user_path, class: "brand-button" %>
</div>