<%= form_for(address) do |f| %>



  <table>
    <tr>
      <td>
        <%= f.label "Address title" %><br>
        <%= f.text_field :title %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label "Address line 1" %><br>
        <%= f.text_field :addr1 %>
      </td>
    </tr>
    <tr>
    <td>
        <%= f.label "Address line 2" %><br>
        <%= f.text_field :addr2 %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label "Town" %><br>
        <%= f.text_field :town %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label "County" %><br>
        <%= f.text_field :county %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label "Postcode" %><br>
        <%= f.text_field :postcode %>
      </td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
