
<div class="section">

  <%= form_for(driver) do |f| %>

    <p>
      <%= f.label "Last name".to_sym %><br>
      <%= f.text_field :lname, class: "textfield" %>
      <br/>
      <%= f.label "First name".to_sym %><br>
      <%= f.text_field :fname, class: "textfield" %>
      <br/>
      <%= f.label :registration %><br>
      <%= f.text_field :reg, class: "textfield" %>
      <br />
      <%= f.label :picture %><br>
      <%= f.file_field :avatar, class: "fileinput" %>
    </p>

    <% if driver.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

        <ul>
        <% driver.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit 'Save', class: "brand-button" %>
    </div>
  <% end %>

</div>
