
<div class="section">

  <%= form_for(driver) do |f| %>

    <p>
      <%= f.label :lastname %><br>
      <%= f.text_field :lname %>
      <br/>
      <%= f.label :firstname %><br>
      <%= f.text_field :fname %>
      <br/>
      <%= f.label :reg %><br>
      <%= f.text_field :reg %>
      <br />
      <%= f.label :pic %><br>
      <%= f.file_field :avatar %>
    </p>

    <% if driver.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

        <ul>
        <% driver.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

</div>
