<div class="main">
  <div class="section">
    <h1>Our Drivers</h1>
  </div>
  <div class="section">

    <table>

      <tbody>
        <tr>
          <% @drivers.each do |driver| %>
            <td><%= image_tag(driver.avatar) %></td>
          <% end %>
        </tr>
        <tr>
          <% @drivers.each do |driver| %>
            <td><%= driver.fname %> <%= driver.lname %></td>
          <% end %>
        </tr>
        <tr>
          <% @drivers.each do |driver| %>
            <td><%= driver.reg %></td>
          <% end %>
        </tr>

      </tbody>
    </table>

    <br/>
    <%= link_to 'Edit Drivers', '/edit', class: "brand-button" %>


  </div>
</div>
