<!DOCTYPE html>
<html>
  <head>
    <title>TaxiApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-bar">
      <div class="right-nav">
        <ul class="menu-list">
        <li><%= link_to 'Drivers', drivers_path, class: "menu-item" %></li>

        <%if user_signed_in? %>
              <li><%= link_to 'My Profile', user_path(current_user), class: "menu-item" %></li>

              <li><%= link_to "Log out", destroy_user_session_path, class: "menu-item"%></li>
        <%else %>
            <li><%= link_to "Log in", new_user_session_path, class: "menu-item" %><br /></li>
        <%end %>
        </ul>
      </div>

      <div class="left-nav">
        <%= link_to image_tag("taxi_icon_2.png", class: "img_small"), root_url %>
      </div>
    </div>
    <div class="notice">
      <!-- span id="notice"><%= notice %></span -->
      <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
